h2.itemInfoHeader {
    margin-top: 0px;
}

a.toggle {
    color: inherit;
    text-decoration: none;
    display: block;
}

.caret-right {
  border-left: 4px solid #000;
  border-right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

div.footer {
    margin-top: 2em;
    color: #aaa;
}

.darken {
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    top: 0px;
    left: 0px;
}
