{% extends "base.html" %}
{% from 'activity_component.html' import activity_feed %}
{% set active_page = "activity" %}

{% block head_js %}
<script>

window.seed_data = {};
window.seed_data.nodes = JSON.parse('{{ nodes|tojson }}');
window.seed_data.entries = JSON.parse('{{ entries|tojson }}');
window.seed_data.entry_start = {{start}};
window.seed_data.entry_end = {{end}};
window.seed_data.max_entry = {{max_entry}};

</script>
<script src="{{url_for('static', filename='js/occam/activity_feed.js')}}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Activity Stream</h1>
        </div>
    </div>

    {{ activity_feed() }}
{% endblock %}
