{% extends "base.html" %}
{% set active_page = collection %}
{% from 'collection_view.html' import collectionView %}

{% block head_js %}
<script>

window.seed_data = {};
window.seed_data.items = JSON.parse('{{ items|tojson }}');
{% if server and selected %}
window.seed_data.start_server = "{{server}}";
window.seed_data.start_item = "{{selected}}"
{% endif %}

</script>
<script src="{{url_for('static', filename='js/occam/activity_feed.js')}}"></script>
<script src="{{url_for('static', filename='js/occam/collection.js')}}"></script>
{% endblock %}

{% block body %}
{{ collectionView(collection,
                  showActivityFeed=(collection == "nodes"),
                  orderField=("hostname" if collection == "nodes" else "name")) }}
{% endblock %}
