{% extends "base.html" %}
{% set active_page = "servers" %}

{% block body %}
{% set total_servers = servers.keys()|count %}
<div class="row">
    <div class="col-md-12">
        <h1>Servers</h1>
        <p class="text-muted">{{total_servers}}</strong> razor servers tracked</p>
        <hr>
    </div>
</div>
<div class="row">
{% for server, server_things in servers.iteritems() %}
<div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><a href="{{url_for('server', server=server)}}">{{server}}</a></strong>
        </div>
        <div class="list-group">
            <a class="list-group-item" href="{{url_for("nodes")}}"><span class="glyphicon glyphicon-hdd"></span> <strong>{{ server_things["nodes"]|count }}</strong> nodes</a>
            <a class="list-group-item" href="{{url_for("policies")}}"><span class="glyphicon glyphicon-list-alt"></span> <strong>{{ server_things["policies"]|count }}</strong> policies</a>
            <a class="list-group-item" href="{{url_for("repos")}}"><span class="glyphicon glyphicon-cloud-download"></span> <strong>{{ server_things["repos"]|count }}</strong> repos</a>
            <a class="list-group-item" href="{{url_for("brokers")}}"><span class="glyphicon glyphicon-new-window"></span> <strong>{{ server_things["brokers"]|count }}</strong> brokers</a>
        </div>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}
